Flask
Flask-Cors
flask-openapi3
Flask-SQLAlchemy
flask-restful
flask-swagger-ui
nose2
pydantic
SQLAlchemy
SQLAlchemy-Utils
typing_extensions
flasgger
pytz
pandas 
numpy 
scikit-learn==1.6.1
marshmallow
pytest
requests